@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  /* Custom colors */
  --cc-v-dk-grayish-blue: hsl(217, 19%, 35%);
  --cc-desat-dk-blue: hsl(214, 17%, 51%);
  --cc-grayish-blue: hsl(212, 23%, 69%);
  --cc-lt-grayish-blue: hsl(210, 46%, 95%);

  --ff-main: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-main);
}

body {
  min-height: 100vh;
  background: var(--cc-lt-grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
  color: var(--cc-desat-dk-blue);
}

/* Article  */
.article {
  width: clamp(310px, 90%, 340px);
  height: calc(100vh * 0.75);
  min-height: 500px;
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

/* Header */
.article__header {
  height: 40%;
  overflow: hidden;
}

.article__header img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

/* Article content */
.article__content {
  padding: 15px;
}

.article__content h1 {
  font-size: 1rem;
  color: var(--cc-v-dk-grayish-blue);
  margin-bottom: 20px;
}

.article__content p {
  font-size: 0.85rem;
  line-height: 1.5;
}

.article__content,
.article__footer {
  margin: 20px 10px;
}

/* Footer */
.article__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.author {
  font-weight: 700;
  font-size: 0.95rem;
  color: var(--cc-v-dk-grayish-blue);
}

.publishing-date {
  font-size: 0.9rem;
}

.article__avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.article__btn--share {
  background: var(--cc-lt-grayish-blue);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}

.article__btn--share svg path {
  /*   fill: blue; */
}

.article__share {
  background: var(--cc-v-dk-grayish-blue);
  width: calc(100% + 20px);
  height: calc(100% + 25px);
  position: absolute;
  bottom: -20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  color: var(--cc-lt-grayish-blue);
  letter-spacing: 3px;
  font-size: 0.8rem;
  border-radius: 0 0 15px 15px;
}

.article__icons {
  /*   background: yellow; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  padding: 5px;
}

.article__share .article__btn--share {
  background: var(--cc-desat-dk-blue);
}

.article__share .article__btn--share path {
  fill: var(--cc-lt-grayish-blue);
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop styling */

@media screen and (min-width: 1000px) {
  .article {
    width: clamp(750px, 75%, 800px);
    height: clamp(320px, 50vh, 350px);
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    min-height: auto;
  }

  /*   Header */
  .article__header {
    height: 100%;
  }

  .article__header img {
    border-radius: 15px;
    height: 100%;
    width: 125%;
  }

  /*   Content */
  .article__content {
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px;
  }

  .article__content h1 {
    font-size: 1.4rem;
  }

  .article__content p {
    font-size: 0.9rem;
    line-height: 1.7;
  }

  .article__footer {
    margin-bottom: 40px;
    justify-content: normal;
  }

  .article__avatar {
    margin-left: 15px;
    margin-right: 15px;
  }

  .article__content,
  .article__footer {
    grid-column: 2;
    grid-row: 1;
  }

  .article__btn--share {
    margin-left: auto;
    margin-right: 50px;
  }

  .article__share {
    border-radius: 5px;
    width: 55%;
    bottom: 60px;
    right: -10%;
    font-size: 0.9rem;
  }

  .article__share::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--cc-v-dk-grayish-blue);
    bottom: -15px;
    transform: translateX(75%);
  }

  .article__share .article__btn--share {
    display: none;
  }

  .article__icons {
    width: 45%;
  }
}
